body {
  padding-top: 50px;
}
.starter-template {
  padding: 4px 1px;
  text-align: center;
}

body{
    background:#eee;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #82b440;
    text-decoration: none;
}
