TagLifeBackend/.idea/TagLifeBackend.iml
TagLifeBackend/.idea/dataSources.local.xml
TagLifeBackend/.idea/dataSources.xml
TagLifeBackend/.idea/workspace.xml
TagLifeBackend/TagLifeApp/__pycache__/
TagLifeBackend/TagLifeApp/migrations/__pycache__/
TagLifeBackend/TagLifeBackend/__pycache__/
.idea/