{% extends "base.html" %} 
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 well" style="margin:1cm">
      <h1>Create Topic</h1>
      <form action="" method="POST">
          <div class="form-group ">
              <label for="topicname">Topic name <span class="require">*</span> <small></small></label>
              <input type="text" class="form-control" name="topicname" />
          </div>
          <div class="form-group">
              <label for="description">Content</label>
              <textarea rows="5" class="form-control" name="description" ></textarea>
          </div>
          <div class="form-group">
              <label for="uploadMedia">Upload media</label>
              <!-- <div class="col-sm-9">                     -->
                  <div class="input-group">
                    <div class="input-group-addon">http://</div>
                    <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                  <!-- </div> -->
              </div>
          </div>
          <div class="form-group">
              <label for="addTag">Add Tag</label>
              <!-- <div class="col-sm-11">                     -->
                  <div class="input-group">
                    <div class="input-group-addon">put # before every tag</div>
                    <input type="text" class="form-control" name="addTag" id="addTag">
                  <!-- </div> -->
              </div>
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-primary">
                  Create
              </button>
              <button class="btn btn-default">
                  Cancel
              </button>
          </div> 
      </form>
    </div>
    <div class="col-md-3 hidden-sm well pull-right" style="margin-top: 1cm">
   
    <div class="row" align="center"> 
      <h3>Popular Topics</h3>
       {% if topics %}
        {% for topic in topics %}
      <ul class="list-group"> 
         <li class="list-group-item">{{topic.title}}</li>
          {% endfor %}                                               
      </ul> 
    </div>
    {% endif %}
    <div class="row" align="center"> 
    <h3 align="center">Followed Topics  </h3>
     {% if topics %}
      {% for topic in topics %}
    <ul class="list-group"> 
       <li class="list-group-item">{{topic.title}}</li>
        {% endfor %}                                               
    </ul> </div>
    {% endif %}   
    </div>
  </div>
</div>
{% endblock %}