{% extends "base.html" %}
{% block body %}
<div class="container">
 <div class="row">
   <div class="col-md-9 ">
     <div class="row" style="margin:0.5cm"><h2 align="center"> TOPIC </h2>
       <div class="media-body" id="mainEntry">
         <div class="well well-lg">
             <h4 class="media-heading text-uppercase reviews">Marco <i> | nick</i> </h4>

             <ul class="media-date text-uppercase reviews list-inline">
               <li class="dd">22</li>
               <li class="mm">09</li>
               <li class="aaaa">2014</li>
             </ul>
             <p class="media-comment">
               Great snippet! Thanks for sharing.
             </p>
             <ul class="list-inline list-unstyled">
               <li>Tags:
                   <a href="#"><span class="label label-info">tag1</span></a> 
                   <a href="#"><span class="label label-info">tag2</span></a> 
                   <a href="#"><span class="label label-info">tag3</span></a> 
               </li>
               </ul>
             <!-- <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a> -->
             <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>
         </div>              
       </div>
     </div>
     <div class="row" style="margin:0.5cm">
       <div class="comment-tabs">
         <ul class="nav nav-tabs" role="tablist">
             <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
             <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
         </ul>
       </div>            
       <div class="tab-content">
         <div class="tab-pane active" id="comments-logout">
             <ul class="media-list">
               <li class="media">
                 <div class="media-body">
                   <div class="well well-lg">
                       <h4 class="media-heading text-uppercase reviews">Marco </h4>
                       <ul class="media-date text-uppercase reviews list-inline">
                         <li class="dd">22</li>
                         <li class="mm">09</li>
                         <li class="aaaa">2014</li>
                       </ul>
                       <p class="media-comment">
                         Great snippet! Thanks for sharing.
                       </p>
                   </div>              
                 </div>
               </li>
                <script type="text/javascript">
                  var Comment = {
                      init: function() {
                          $(".reply").bind('click', $.proxy(this.handleClick, this));
                      },
                      handleClick: function(evt) {
                           var form = $('#commentReplyForm').clone();
                           var target = $(evt.target);
                           var isFormAvailable = $("#commentReplyForm", target).length > 0;
                           if(!isFormAvailable) {
                               $(evt.target).append(form);
                           }
                      }   
                  };

                  $(function() {
                      Comment.init();
                  });
                </script>       
               <!--  -->
               <li class="media">
                 <div class="media-body">
                   <div class="well well-lg">
                       <h4 class="media-heading text-uppercase reviews">Nico</h4>
                       <ul class="media-date text-uppercase reviews list-inline">
                         <li class="dd">22</li>
                         <li class="mm">09</li>
                         <li class="aaaa">2014</li>
                       </ul>
                       <p class="media-comment">
                         I'm looking for that. Thanks!
                       </p>
                       <div class="embed-responsive  embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Dw8TyE6Ics" frameborder="0" allowfullscreen></iframe>
                       </div>
                   </div>              
                 </div>
               </li>
               <li class="media">
                 <div class="media-body">
                   <div class="well well-lg">
                       <h4 class="media-heading text-uppercase reviews">Kriztine</h4>
                       <ul class="media-date text-uppercase reviews list-inline">
                         <li class="dd">22</li>
                         <li class="mm">09</li>
                         <li class="aaaa">2014</li>
                       </ul>
                       <p class="media-comment">
                         Yehhhh... Thanks for sharing.
                       </p>
                   </div>              
                 </div>
               </li>
             </ul> 
         </div>
         <div class="tab-pane" id="add-comment">
             <form action="#" method="post" class="form-horizontal" id="commentForm" role="form"> 
                 <div class="form-group">
                     <label for="email" class="col-sm-2 control-label">Comment</label>
                     <div class="col-sm-10">
                       <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                     </div>
                 </div>
                 <div class="form-group">
                     <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                     <div class="col-sm-10">                    
                         <div class="input-group">
                           <div class="input-group-addon">http://</div>
                           <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                         </div>
                     </div>
                 </div>
                 <div class="form-group">
                     <label for="addTag" class="col-sm-2 control-label">Add Tag</label>
                     <div class="col-sm-10">                    
                         <div class="input-group">
                           <div class="input-group-addon">put # before every tag</div>
                           <input type="text" class="form-control" name="addTag" id="addTag">
                         </div>
                     </div>
                 </div>
                 <div class="form-group">
                   <div class="col-sm-offset-2 col-sm-10">             
                       <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Submit comment</button>
                   </div>
                 </div>            
             </form>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-3 hidden-sm well pull-right" style="margin-top:1cm;" >
     <div class="row" align="center"> <a href="/create_topic/" class="btn btn-primary btn-block">Add New Topic</a></div>
     <div class="row" align="center"> 
       <h3>Related Topics</h3>
        {% if topics %}
         {% for topic in topics %}
       <ul class="list-group"> 
          <li class="list-group-item">{{topic.title}}</li>
           {% endfor %}                                               
       </ul> 
     </div>{% endif %} 
     <div class="row" align="center"> 
       <h3>Popular Topics</h3>
        {% if topics %}
         {% for topic in topics %}
       <ul class="list-group"> 
          <li class="list-group-item">{{topic.title}}</li>
           {% endfor %}                                               
       </ul> 
     </div>{% endif %} 
     <div class="row" align="center"> 
     <h3 align="center">Followed Topics</h3>
      {% if topics %}
       {% for topic in topics %}
     <ul class="list-group"> 
        <li class="list-group-item">{{topic.title}}</li>
         {% endfor %}                                               
     </ul> </div>
     {% endif %}   
   </div>
 </div>
</div>
{% endblock %}