 {% extends "base.html" %}

{% block body %}
    <body>
        <h1>Add a Topic</h1>

        <form id="category_form" method="post" action="/create_topic/">

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Topic" />
        </form>
    </body>

 {% endblock %}