<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TagLife</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="" >TagLife</a>
        </div>

        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="*" class="btn  btn-lg">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                </li>
            </ul>


            <div >
                <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control"  placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                </form>
            </div>
        </div>


    </div>

</nav>
 <div class="container">

            <div class="row" id="pwd-container">
            <div class="col-md-4"></div>

            <div class="col-md-4">
              <section class="login-form">
                <form method="post" action="#" role="login">
                  <img src="http://i.hizliresim.com/3vBknO.jpg" class="img-responsive" alt="" />
                  <input type="email" name="email" placeholder="Email" required class="form-control input-lg"  />

                  <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />

                  <div class="pwstrength_viewport_progress"></div>

                  <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                  <div>
                    <a href="#">Create account</a> </a>
                  </div>

                </form>
              </section>
              </div>
              <div class="col-md-4"></div>
            </div>

            <br>
            <br>


            </div>

</body>
</html>