{% extends "base.html" %}

{% block body %}
    <body>
        <h1>Register with Rango</h1>

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
    <br>
        <div class="container">

            <div class="row" id="pwd-container">
            <div class="col-md-4"></div>

            <div class="col-md-4">
              <section class="login-form">
                <form id="login_form" method="post" action="/register/" enctype="multipart/form-data">
                  <img src="../media/TagLifePic.png" class="img-responsive" alt="" />
                  <input type="text" name="Username" value="" size="50" placeholder="User name" required class="form-control input-lg"  />
                    <input type="text" name="Email adresses" value="" size="50" placeholder="Email adresses" required class="form-control input-lg"  />
                  <input type="password" name="password" value="" size="50" class="form-control input-lg" id="password" placeholder="Password" required="" />

                  <div class="pwstrength_viewport_progress"></div>

                  <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                  <div>
                    <a href="/register/">Create account</a> </a>
                  </div>

                </form>
              </section>
              </div>
              <div class="col-md-4"></div>
            </div>

            <br>
            <br>
{% endblock %}